{% extends "templates/base.html" %}


{% block title %}
{{ 'Get Started' }}
{% endblock %}


{% block content %}
<div class="common-page-style">
    <div class="container">
        <div class="m-auto w-25">
            <div>
                {{ _("Create a Course") }}
            </div>
            <div>
                {{ _("Create a Chapter") }}
            </div>
            <div>
                {{ _("Create a Lesson") }}
            </div>
            <div>
                {{ _("Create a Quiz") }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
