{% extends "templates/base.html" %}

{% block content %}
	{% include "public/icons/symbol-defs.svg" %}
	{% include "lms/templates/onboarding_header.html" %}
	{% block page_content %}
		Hello, world!
	{% endblock %}
{% endblock %}

{%- block script -%}
	{{ super() }}

	<script>
		const rounding_method = {{ get_rounding_method() }};
		frappe.boot.sysdefaults = {};
		Object.assign(frappe.boot.sysdefaults, rounding_method)
	</script>

	{% if frappe.session.user != "Guest" and frappe.get_system_settings("enable_telemetry") %}
	<script>
		const telemetry_boot_info = {{ get_telemetry_boot_info() }}
		if (telemetry_boot_info && Object.keys(telemetry_boot_info).length)
			Object.assign(frappe.boot, telemetry_boot_info)
	</script>
	{% endif %}

    {{ include_script("telemetry.bundle.js") }}
{%- endblock -%}